.gallery-preview-grid {
  column-count: 3;
  column-gap: 1rem;
  padding: 2rem 0;
}

/* Приклади "хаотичних" розмірів */
.item-1 {
  grid-column: span 2;
  grid-row: span 2;
}
.item-2 {
  grid-column: span 2;
  grid-row: span 1;
}
.item-3 {
  grid-column: span 2;
  grid-row: span 3;
}
.item-4 {
  grid-column: span 3;
  grid-row: span 2;
}
.item-5 {
  grid-column: span 3;
  grid-row: span 1;
}
.item-6 {
  grid-column: span 2;
  grid-row: span 2;
}
.item-7 {
  grid-column: span 4;
  grid-row: span 2;
}

.preview-item {
  display: inline-block;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 1rem;
  overflow: hidden;
  break-inside: avoid;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.preview-item img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  filter: blur(6px); /* Фото розмито за замовчуванням */
  transition: filter 0.3s ease-in-out;
}

.preview-item:hover img {
  /* transform: scale(1.03); */
  filter: blur(0); /* розмивання при наведенні */
}

.preview-item:hover::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* затемнення */
  transition: background 0.3s ease;
}
.preview-item:hover .preview-info {
  opacity: 1;
  transform: translateY(0); /* Блок з'являється знизу */
}
.preview-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; /* додаємо right, щоб блок точно займав всю ширину */
  width: 100%;
  padding: 15px;
  box-sizing: border-box; /* враховує padding у ширині */
  max-height: 120px;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  text-align: start;
  border-radius: 0 0 1rem 1rem;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
  transform: translateY(100%);
}

.preview-info h3 {
  margin: 0;
  font-size: 1.2rem;
}

.preview-info p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.4;
  white-space: normal;           /* Дозволяє переносити рядки */
  overflow-wrap: break-word;     /* Дозволяє переносити слова */
  word-break: break-word;        /* Розриває надто довгі слова */
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;         /* Максимум 2 рядки */
  -webkit-box-orient: vertical;
}



/* Інші стилі */
.home-gallery-preview {
  padding: 0px 160px;
  padding-bottom: 100px;
  background-color: var(--dark-bg);
  color: var(--soft-white);
  text-align: center;
}

.home-gallery-preview h2 {
  font-size: 48px;
  color: var(--soft-white);
  margin-bottom: 0.3rem;
}

.home-gallery-preview p {
  font-size: 18px;
  color: var(--muted-pink);
  margin-bottom: 2rem;
}

.view-more-btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: var(--purple-accent);
  color: white;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
}

.view-more-btn:hover {
  background-color: var(--purple-hover);
}
