/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --dark-bg: #0F0F10;           /* темний фон */
  --navy-gray: #1A1A1D;         /* майже чорний з синюватим */
  --purple-accent: #9B00FF;     /* яскравий фіолетовий */
  --purple-hover: #7F00D4;      /* фіолетовий при ховері */
  --soft-white: #F8F9FA;        /* м’який білий */
  --light-gray: #D1D5DB;        /* світло-сірий для неактивних */
  --muted-pink: #CBA6DD;        /* додатковий акцент */
}

* {
  margin: 0;
  padding: 0;
}
body {

  padding: 0;
  font-family: "Urbanist", sans-serif;
  font-weight: 400;
  background-color: var(--dark-bg);
  color: var(--soft-white);
}
p {
  font-size: 18px;
  color: #9CA3AF;
}
a {
  font-size: 18px;
  color: #9CA3AF;
}

section {
  /* margin: 0 120px; */
  /* height: 100vh; */
  /* display: flex; */
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  transition: all 0.6s ease-in-out;
}
